<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>#FuturPote</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    

    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>

    <!-- Le styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">
    <link href="assets/css/font-style.css" rel="stylesheet">
    <link href="assets/css/flexslider.css" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>


    <script src="https://use.fontawesome.com/1ac1a14030.js"></script>

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>

    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

    <!-- Google Fonts call. Font Used Open Sans & Raleway -->
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,300" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    
    
    <link href='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js'>
</head>

<body>

    <!-- NAVIGATION MENU -->
    <div class="navbar-nav navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">#FuturPote</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="accueil.html"><i class="icon-home icon-white"></i>Accueil</a>
                    </li>
                    <li><a href="profil.html"><i class="icon-folder-open icon-white"></i>Profil</a>
                    </li>
                    <li><a href="ajouter_amis.html"><i class="icon-calendar icon-white"></i>Ajouter des amis</a>
                    </li>
                    <li><a href="evenement.html"><i class="icon-lock icon-white"></i> Evènement</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- FIN NAVIGATION MENU -->

    <div class="container">
        <!-- FIRST ROW OF BLOCKS -->
        <div class="row">
           <input type="search" ng-model="filtre">
                <ul>
                    <li ng-repeat="element in tableau | filter : filtre">{{element}}</li>
                </ul> 
        </div>
        <div class="row">
            <div class="col-sm-3 col-lg-3">
                <div class="dash-unit-ajout-friend">
                    <div class="title-bloc">
                        <dtitle>Match à </dtitle>
                    </div>
                        <ul class="ajouter-friend">
                            <li>
                                <i class="unread"></i>
                                    <img class="avatar" src="assets/img/photo01.jpeg" alt="avatar">
                                        <p class="sender">
                                            Adam W. - 25 ans<br>
                                            Ville actuelle : <br>
                                            centre d'intérêts : <br>
                                            <button class="btn-ajout-friend"> Ajouter</button>
                                        </p>
                                        <div class="actions">
                                            
                                        </div>
                                </li>
                             </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 col-lg-3">
                <div class="dash-unit-ajout-friend">
                    <div class="title-bloc">
                        <dtitle>Match à </dtitle>
                    </div>
                        <ul class="ajouter-friend">
                            <li>
                                <i class="unread"></i>
                                    <img class="avatar" src="assets/img/photo01.jpeg" alt="avatar">
                                        <p class="sender">
                                            Adam W. - 25 ans<br>
                                            Ville actuelle : <br>
                                            centre d'intérêts : <br>
                                            <button class="btn-ajout-friend"> Ajouter</button>
                                        </p>
                                        <div class="actions">
                                            
                                        </div>
                                </li>
                             </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 col-lg-3">
                <div class="dash-unit-ajout-friend">
                    <div class="title-bloc">
                        <dtitle>Match à </dtitle>
                    </div>
                        <ul class="ajouter-friend">
                            <li>
                                <i class="unread"></i>
                                    <img class="avatar" src="assets/img/photo01.jpeg" alt="avatar">
                                        <p class="sender">
                                            Adam W. - 25 ans<br>
                                            Ville actuelle : <br>
                                            centre d'intérêts : <br>
                                            <button class="btn-ajout-friend"> Ajouter</button>
                                        </p>
                                        <div class="actions">
                                            
                                        </div>
                                </li>
                             </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 col-lg-3">
                <div class="dash-unit-ajout-friend">
                    <div class="title-bloc">
                        <dtitle>Match à </dtitle>
                    </div>
                        <ul class="ajouter-friend">
                            <li>
                                <i class="unread"></i>
                                    <img class="avatar" src="assets/img/photo01.jpeg" alt="avatar">
                                        <p class="sender">
                                            Adam W. - 25 ans<br>
                                            Ville actuelle : <br>
                                            centre d'intérêts : <br>
                                            <button class="btn-ajout-friend"> Ajouter</button>
                                        </p>
                                        <div class="actions">
                                            
                                        </div>
                                </li>
                             </ul>
                        </div>
                    </div>
                 </div>
         <div class="row">
            <div class="col-sm-3 col-lg-3">
                
             </div>
         </div>
    </div>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="assets/js/bootstrap.js"></script>
    <script type="text/javascript" src="assets/js/lineandbars.js"></script>

    <script type="text/javascript" src="assets/js/dash-charts.js"></script>
    <script type="text/javascript" src="assets/js/gauge.js"></script>

    <!-- NOTY JAVASCRIPT -->
    <script type="text/javascript" src="assets/js/noty/jquery.noty.js"></script>
    <script type="text/javascript" src="assets/js/noty/layouts/top.js"></script>
    <script type="text/javascript" src="assets/js/noty/layouts/topLeft.js"></script>
    <script type="text/javascript" src="assets/js/noty/layouts/topRight.js"></script>
    <script type="text/javascript" src="assets/js/noty/layouts/topCenter.js"></script>

    <!-- You can add more layouts if you want -->
    <script type="text/javascript" src="assets/js/noty/themes/default.js"></script>
    <!-- <script type="text/javascript" src="assets/js/dash-noty.js"></script> This is a Noty bubble when you init the theme-->
    <script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
    <script src="assets/js/jquery.flexslider.js" type="text/javascript"></script>

    <script type="text/javascript" src="assets/js/admin.js"></script>

    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
        })
    </script>
    
    
        
                                    <script>
                                        $(function () {
                                            $('#datetimepicker1').datetimepicker();
                                        });
                                    </script>
    
    

</body>

</html>