.div_events {
    text-align: center;
}

.div_events h2, .div_events2 h2 {
    background: #f3c15c;
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: 300;
    font-size: 21px;
    margin-bottom: 0px;
}

.div_events2 {
    height: auto;
    text-align: center;
}

.block_events {
    border-top: 1px dashed #fff;
    height: 200px;
    text-align: center;
    background: #f3c15c;
}

.block_events_date {
    height: auto;
    text-align: center;
    margin-top: 32px;
}

.date {
    background: #f3c15c;
    color: white;
    margin-top: 10px;
    height: 110px;
    margin-bottom: 10px;
    font-size: 1.2em;
}
.date .eventsJour{
    font-size:32px;
}
.date .eventsMois{
    font-size:25px;
}
.block_events_info {
    height: auto;
    margin-top: 0px;
    background: #f3c15c;
    color: white;
    padding: 15px 15px 11px 15px;
    font-size: 1.2em;
}

.block_events_tchat {
    border-top: 1px dashed #fff;
    height: 145px;
    text-align: center;
    background: #f3c15c;
}

.block_events_tchat_x {
    height: auto;
    margin-top: 0px;
    background: #f3c15c;
    color: white;
    padding: 15px 15px 11px 15px;
    font-size: 1.2em;
}
.block_events_info hr, .block_events_tchat_x hr{
    margin: 10px 0;
}
.eventAdresse, .eventNbrPlace, .eventPrix{
    font-size: 15px;
    text-align: left !important;
}
.eventNbrPart{
    font-size: 15px;
}