/*
    - Vert : #5CA48D
    - Orange : #F36D4C
    - Beige : #F3ECDB
    - Jaune : #F3C15C
    - Noir : #262626
*/

body {
    padding-top: 0px;
    max-width: 100%;
    height: auto;
    background-attachment: fixed;
    background-image: url("../img/accueil_gris.png");
    background-size: cover;
}

.container {
    min-width: 100%;
}

@media (max-width: 767px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 1200px) {}

@media (max-width: 767px) {
    .menuAccueil {
        width: auto;
        height: 100px;
    }
    .logoAccueil {
        width: 100%;
        height: 100px;
        text-align: center;
        margin: auto auto;
    }
    .logoAccueil img {
        width: auto;
        max-height: 75px;
        text-align: center;
        margin: 10px auto 0 auto;
        max-width: 100%;
    }
    .connexion {
        width: 102px;
        height: 40px;
        background-color: rgba(92, 164, 141, 0.8);
        color: #fff;
        padding: 10px;
        border-radius: 3px;
        font-size: 15px;
        margin: auto;
        font-weight: 600;
        display: none;
    }
    .connexion:hover {
        background-color: rgba(92, 164, 141, 1);
        color: #fff;
    }
    .connexion2 a{
        color: #fff;
        width: 100%;
        display: block;
        padding: 10px;
    }
    .connexion2{
        min-width: 100%;
        height: 40px;
        background-color: rgba(85, 85, 85, 0.8);
        color: #fff;
        border-radius: 3px;
        font-size: 15px;
        margin: auto;
        font-weight: 600;
        cursor: pointer;
        text-align: center;
        display: block;
    }
    .connexion2:hover {
        background-color: rgb(41, 41, 41);
        color: #fff;
    }
    .slogan {
        margin-top: 30px;
        font-size: 30px;
        text-align: center;
        color: #fff;
    }
    .slogan2 {
        font-size: 25px;
        text-align: center;
        color: #fff;
    }
    .register_form{
        margin: 20px auto 0 auto;
        max-width: 300px;
    }
    .form-group{
        margin: 0 auto;
    }
    .form-group input{
        font-size: 15px;
        border-bottom: 1px solid #cccccc;
        border-radius: 0px;
    }
    .form-control{
        margin: 0 auto !important;
        height: 40px !important;
        background: #fff !important;
        box-shadow: none;
        border:none;
    }
    .inputRegister{
        background: #fff !important;
        border-radius: 3px;
        margin-bottom: 10px;
    }

    .register_form_age_input{
        border: 0 none;
        cursor: pointer;
        font-size: 14px;
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
    #pseudo{
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
    #inputMdp{
        padding-left: 18px;
    }
    #confMdp{
        padding-left: 18px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    #btnInscription{
        background-color: rgba(92, 164, 141, 0.8);
        border-color: rgba(92, 164, 141, 0.8);
        font-size: 15px;
        font-weight: 600;
    }
    #btnInscription:hover{
        background-color: rgba(92, 164, 141, 1);
        border-color: rgba(92, 164, 141, 1);
    }
    .btnConnexion2{
        margin: 30px auto;
    }
}

@media (min-width: 768px) {
    .menuAccueil {
        width: auto;
        height: 100px;
    }
    .logoAccueil {
        width: 100%;
        height: 100px;
        text-align: center;
        margin: auto auto;
    }
    .logoAccueil img {
        width: auto;
        max-height: 75px;
        text-align: center;
        margin: 10px auto 0 auto;
    }
    .connexion, .connexion:active {
        width: 102px;
        height: 40px;
        background-color: rgba(92, 164, 141, 0.8);
        color: #fff;
        padding: 10px;
        border-radius: 3px;
        font-size: 15px;
        margin: 30px 15px 0 0;
        float: right;
        font-weight: 600;
        text-decoration: none;
    }
    .connexion:hover, .connexion:visited{
        background-color: rgba(92, 164, 141, 1);
        color: #fff;
        text-decoration: none;
    }
    .connexion2 a{
        color: #fff;
        width: 100%;
        display: block;
    }
    .connexion2{
        min-width: 100%;
        height: 40px;
        background-color: rgba(85, 85, 85, 0.8);
        color: #fff;
        padding: 10px;
        border-radius: 3px;
        font-size: 15px;
        margin: auto;
        font-weight: 600;
        cursor: pointer;
        text-align: center;
        display: none;
    }
    .connexion2:hover {
        background-color: rgb(41, 41, 41);
        color: #fff;
    }
    .slogan {
        margin: 100px 0 0 0;
        font-size: 40px;
        text-align: center;
        color: #fff;
    }
    .sloganConnexion {
        margin: 120px 0 0 0;
        font-size: 40px;
        text-align: center;
        color: #fff;
    }
    .slogan2 {
        font-size: 25px;
        text-align: center;
        color: #fff;
    }
    .register_form{
        margin: 20px auto 0 auto;
        max-width: 300px;
    }
    .form-group{
        margin: 0 auto;
    }
    .form-group input{
        font-size: 15px;
        border-bottom: 1px solid #cccccc;
        border-radius: 0px;
    }
    .form-control{
        margin: 0 auto !important;
        height: 40px !important;
        background: #fff !important;
        box-shadow: none;
        border:none;
    }
    .inputRegister{
        background: #fff !important;
        border-radius: 3px;
        margin-bottom: 10px;
    }

    .register_form_age_input{
        border: 0 none;
        cursor: pointer;
        font-size: 14px;
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
    #pseudo{
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
    #inputMdp{
        padding-left: 18px;
    }
    #confMdp{
        padding-left: 18px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    #btnInscription{
        background-color: rgba(92, 164, 141, 0.8);
        border-color: rgba(92, 164, 141, 0.8);
        font-size: 15px;
        font-weight: 600;
    }
    #btnInscription:hover{
        background-color: rgba(92, 164, 141, 1);
        border-color: rgba(92, 164, 141, 1);
    }
    .btnConnexion2{
        margin: 30px auto;
    }
}

.containerSocial div, .containerSocialConnexion div{
    padding: 0;
}
.containerSocial{
    width: 300px;
    margin: auto;
}
.containerSocialConnexion{
    width: 300px;
    margin: 10px auto auto auto;
}
.logoFacebook{
    width: 140px;
    height: 36px;
    background-size: 140px 36px;
    background-image: url("../img/logo_facebook.png");
    background-repeat: no-repeat;
    cursor: pointer;
}
.logoFacebook:hover{
    background-image: url("../img/logo_facebook_hover.png");
}
.logoGoogle{
    width: 140px;
    height: 36px;
    background-size: 140px 36px;
    background-image: url("../img/logo_google.png");
    background-repeat: no-repeat;
    cursor: pointer;
    float: right;
}
.logoGoogle:hover{
    background-image: url("../img/logo_google_hover.png");
}
.mdpOublie, .mdpOublie a{
    text-align: center;
    color: #fff;
    text-decoration: underline;
    margin: 10px;
}
.rememberMe{
    text-align: center;
    color: #fff;
    margin-bottom: 5px;
}
#mailMdp{
    border-radius: 3px;
}
.btnDecouvre a{
    color: #fff;
    width: 100%;
    display: block;
    padding: 6px;
}
.btnDecouvre{
    width: 300px;
    height: 40px;
    background-color: rgba(92, 164, 141, 0.8);
    color: #fff;
    padding: 0px;
    border-radius: 3px;
    font-size: 20px;
    margin: 20px auto;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    display: block;
}
.btnDecouvre:hover {
    background-color: rgba(92, 164, 141, 1);
    color: #fff;
}
.notice { color: white }