.div_events {
    text-align: center;
}

.div_events h2 {
    background: #f3c15c;
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: 300;
    font-size: 21px;
    margin-bottom: 0px;
    border-bottom: 1px dashed #fff;
}

.div_events2 h2 {
    text-align: center;
    background: #F36D4C;
    color: white;
    text-align: center;
    padding: 20px;
}

.div_events2 {
    height: 500px;
    text-align: center;
}

.block_events {
    height: 200px;
    text-align: center;
    margin-bottom: 20px;
    background: #f3c15c;
}

.block_events_date {
    height: auto;
    text-align: center;
    margin-top: 32px;
}

.date {
    background: #f3c15c;
    color: white;
    margin-top: 10px;
    height: 110px;
    margin-bottom: 10px;
    font-size: 1.2em;
}
.date .eventsJour{
    font-size:32px;
}
.date .eventsMois{
    font-size:32px;
}
.block_events_info {
    height: auto;
    margin-top: 0px;
    background: #f3c15c;
    color: white;
    padding: 10px;
    font-size: 1.2em;
}

.block_events_info p {
    text-align: center;
}

.block_events_tchat {
    border: 1px solid ThreeDFace;
    height: auto;
    text-align: center;
    background: ThreeDFace;
    font-size: 1.2em;
    color: white;
}

.block_events_tchat_x {
    height: auto;
    text-align: center;
    margin-top: 20px;
    background: #f3c15c;
    padding-top: 10px;
}
